/* breakpoints: 1024px 768px 480px 320px */


/* example #1 - width */
/* @media (max-width:1024px) {
    .block {
        width: 150px;
    }
    .block:nth-child(4) {
        display: none;
    }
}

@media (max-width:480px) {
    .block:nth-child(4) {
        display: block;
    }
    .block:nth-child(1),
    .block:nth-child(2),
    .block:nth-child(3),
    .block:nth-child(4) {
        background-color: blueviolet;
    }
    .block {
        width: 80px;
    }
} */



/* exaple#2 - direction */
/* @media (max-width: 1024px) {
    .wraper {
        flex-direction: column;
        align-items: center;
    }
    .block {
        margin-bottom: 20px;
    }
} */


/* example#3 - wrap */
/* @media (max-width:500px) {
    .block {
        margin-bottom: 20px;
    }
    .wraper {
        justify-content: center;
    }
} */


/* exmple#4- % */
@media (max-width: 1000px) {
    .block {
        width: 45%;
    }
    .block {
        margin-bottom: 20px;
    }
}
@media (max-width: 480px) {
    .block {
        width: 55%;
    }
    .block {
        margin-bottom: 20px;
    }
    .wraper {
        justify-content: center;
    }
}


@media (max-width: 1024px) {
    .image-block {
        width: 48%;
        margin-bottom: 50px;
    }
    .image-wraper {
        height: auto;
    }
    
}
@media (max-width: 480px) {
    .image-block {
        width: 70%;  
    }
    .image-wraper {
        justify-content: center;
    }
    .navigation {
        display: none;
    }
    .burger-bar {
        display: block;
        
    }
}