/* header styles */

.navigation-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgrey;
    padding: 20px;
}
.ul-items {
    display: flex;
}
.burger-bar {
    display: none;
    color:#fff;
    font-size: 35px;
}


.block {
    width: 250px;
    height: 250px;
}
.block:nth-child(1) {
    background-color: yellow;
}
.block:nth-child(2) {
    background-color: lightblue;
}
.block:nth-child(3) {
    background-color: pink;
}
.block:nth-child(4) {
    background-color: green;
}
.wraper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.container {
    max-width: 1170px;
    width:80%;
    margin: 0 auto;
    height: 400px;
    background-color: coral;
}

/* image example */
.image-wraper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 300px;
    background-color: lightblue;
}
.image-block {
    width: 250px;
}
.image-block img {
    width: 100%;
    display: block;
}

/* social icons */
.fb {
    font-size: 35px;
    color:blue;
    transition: all 5s;
}
.fa-youtube {
    font-size: 35px;
    color:red;
}

/* hover effects */
.fb:hover {
    color:red;
}
.fa-youtube:hover {
    color:blue;
}